@font-face {
    font-family: Helvetica;
    src: local(C:\Users\zakar\Documents\GitHub\FullStackDevTrack\4_Developping_Websites_Locally\Dasmotos Art\Helvetica-Font\Helvetica.ttf);
}
body {
    font-family: Helvetica;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.heading h1{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("assets/pattern.jpeg");
}

.brushes h2 {

    background-color: mediumaquamarine;
}

.frames h2{
    background-color: lightcoral;
}

.paint h2{
    background-color: skyblue;
}
strong{
    color:blue;
}